# Ignore python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
.virtual_env/
venv/

# CRITICAL: Ignore deep learning model weights
*.h5
*.pth
*.pt
*.weights
*.ckpt
*.pb
*.onnx

# Ignore local datasets
*.zip
*.tar.gz
*.rar
/data/
/datasets/